In [17]:
import pandas as pd
import chess.pgn
import glob 
import os

In [19]:
df=pd.read_csv("../Analyzed_Games/combined_analyzed_games.csv")
df.head(5)

,GameID,WhiteName,WhiteElo,BlackName,BlackElo,WhiteFideId,BlackFideId,Year,Opening,Variation,Result,MoveNumber,Move,Evaluation
0,1.0,"Ragger,M",2624.0,"Wageih,K",2369.0,1610856.0,10604561.0,2023.0,Blumenfeld counter-gambit,Unknown,1-0,1.0,d4,0.24
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Nf6,0.24
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,c4,0.25
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,e6,0.26
4,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Nf3,0.23

In [20]:
df.GameID.max()

233222.0

In [21]:

num_unique_gameids = df['GameID'].nunique()
max_gameid = df['GameID'].max()
min_gameid = df['GameID'].min()

print(f"Number of unique GameIDs: {num_unique_gameids}")
print(f"Maximum GameID: {max_gameid}")
print(f"Minimum GameID: {min_gameid}")

Number of unique GameIDs: 232031
Maximum GameID: 233222.0
Minimum GameID: 1.0

In [11]:
df=pd.read_csv("../Analyzed_Games/twic1501_analyzed.csv")
df.head(5)

,GameID,WhiteName,WhiteElo,BlackName,BlackElo,WhiteFideId,BlackFideId,Year,Opening,Variation,Result,MoveNumber,Move,Evaluation
0,1.0,"Keymer,Vincent",2690.0,"Carlsen,M",2835.0,12940690.0,1503014.0,2023.0,QGD,"exchange, positional line",1-0,1.0,d4,0.24
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Nf6,0.24
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,c4,0.25
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,e6,0.26
4,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Nc3,0.21

In [27]:
df=pd.read_csv("../Analyzed_Games/example3_copy_analyzed.csv")
df.head(10)

,GameID,WhiteName,WhiteElo,BlackName,BlackElo,Year,Opening,Variation,MoveNumber,Move,Evaluation
0,1.0,"Abdusattorov,Nodirbek",2766.0,"Aravindh,Chithambaram VR.",2698.0,2024.0,King's Indian,London system,1.0,d4,0.28
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Nf6,0.19
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Nf3,0.27
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,g6,0.22
4,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Bf4,0.11
5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Bg7,0.22
6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,c3,0.18
7,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,d6,0.1
8,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,Nbd2,0.0
9,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Nh5,-0.02

In [28]:
df=pd.read_csv("../Analyzed_Games/example3_analyzed.csv")
df.head(10)

,GameID,WhiteName,WhiteElo,BlackName,BlackElo,Year,Opening,Variation,Average_CPL_White,Average_CPL_Black,MoveNumber,Move,CPL,Evaluation
0,1.0,"Abdusattorov,Nodirbek",2766.0,"Aravindh,Chithambaram VR.",2698.0,2024.0,King's Indian,London system,27.95,28.1,1.0,d4,5.0,0.21
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Nf6,2.0,0.19
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Nf3,0.0,0.21
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,g6,8.0,0.31
4,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Bf4,20.0,0.09
5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Bg7,0.0,0.14
6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,c3,1.0,0.1
7,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,d6,5.0,0.15
8,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,Nbd2,1.0,0.16
9,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Nh5,6.0,0.0

In [5]:
df=pd.read_csv("../Analyzed_Games/example3_analyzed.csv")
df.head(15)

,GameID,WhiteName,WhiteElo,BlackName,BlackElo,WhiteFideId,BlackFideId,Year,Opening,Variation,Result,MoveNumber,Move,Evaluation
0,1.0,"Abdusattorov,Nodirbek",2766.0,"Aravindh,Chithambaram VR.",2698.0,14204118.0,5072786.0,2024.0,King's Indian,London system,1-0,1.0,d4,0.24
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Nf6,0.24
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Nf3,0.2
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,g6,0.36
4,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Bf4,0.1
5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Bg7,0.15
6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,c3,0.16
7,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,d6,0.22
8,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,Nbd2,0.09
9,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Nh5,0.04
10,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,Bg5,0.06
11,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,h6,0.06
12,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,Bh4,0.04
13,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,g5,0.08
14,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,Bg3,0.03