In [1]:
import pandas as pd

In [6]:
df=pd.read_csv("../Analyzed_Games/example3_analyzed.csv")
df.head(20)

,GameID,WhiteName,WhiteElo,BlackName,BlackElo,Year,Opening,Variation,Average_CPL_White,Average_CPL_Black,MoveNumber,Move,CPL
0,1,"Abdusattorov,Nodirbek",2766.0,"Aravindh,Chithambaram VR.",2698.0,2024.0,King's Indian,London system,28.93,19.2,1.0,d4,9.0
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Nf6,4.0
2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Nf3,1.0
3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,g6,9.0
4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Bf4,17.0
5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Bg7,1.0
6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,c3,7.0
7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,d6,4.0
8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,Nbd2,28.0
9,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Nh5,3.0
10,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,Bg5,3.0
11,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,h6,5.0
12,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,Bh4,6.0
13,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,g5,7.0
14,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,Bg3,8.0
15,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,Nd7,23.0
16,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,e4,13.0
17,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,e6,26.0
18,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,Bd3,5.0
19,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,b6,13.0

In [27]:
df=pd.read_csv("../Analyzed_Games/example3_copy_analyzed.csv")
df.head(10)

,GameID,WhiteName,WhiteElo,BlackName,BlackElo,Year,Opening,Variation,MoveNumber,Move,Evaluation
0,1.0,"Abdusattorov,Nodirbek",2766.0,"Aravindh,Chithambaram VR.",2698.0,2024.0,King's Indian,London system,1.0,d4,0.28
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Nf6,0.19
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Nf3,0.27
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,g6,0.22
4,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Bf4,0.11
5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Bg7,0.22
6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,c3,0.18
7,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,d6,0.1
8,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,Nbd2,0.0
9,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Nh5,-0.02

In [28]:
df=pd.read_csv("../Analyzed_Games/example3_analyzed.csv")
df.head(10)

,GameID,WhiteName,WhiteElo,BlackName,BlackElo,Year,Opening,Variation,Average_CPL_White,Average_CPL_Black,MoveNumber,Move,CPL,Evaluation
0,1.0,"Abdusattorov,Nodirbek",2766.0,"Aravindh,Chithambaram VR.",2698.0,2024.0,King's Indian,London system,27.95,28.1,1.0,d4,5.0,0.21
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Nf6,2.0,0.19
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Nf3,0.0,0.21
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,g6,8.0,0.31
4,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Bf4,20.0,0.09
5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Bg7,0.0,0.14
6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,c3,1.0,0.1
7,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,d6,5.0,0.15
8,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,Nbd2,1.0,0.16
9,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Nh5,6.0,0.0

In [38]:
df=pd.read_csv("../Analyzed_Games/example20_analyzed.csv")
df.head(5)

,GameID,WhiteName,WhiteElo,BlackName,BlackElo,Year,Opening,Variation,MoveNumber,Move,Evaluation
0,1.0,"Leko,P",2730.0,"Ponomariov,R",2726.0,2012.0,QGA,"classical, 6...a6",1.0,d4,0.26
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,d5,0.28
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,c4,0.30
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,dxc4,0.40
4,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Nf3,0.34