In [5]:
import pandas as pd

In [20]:
df=pd.read_csv("../Analyzed_Games/example5_analyzed.csv")
df.head()

,GameID,WhiteName,WhiteElo,BlackName,BlackElo,Year,Opening,Variation,ACPL,MoveNumber,Move,CPL
0,1,"Abdusattorov,Nodirbek",2766.0,"Aravindh,Chithambaram VR.",2698.0,2024.0,King's Indian,London system,24.06,1.0,d4,9.0
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Nf6,4.0
2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Nf3,1.0
3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,g6,9.0
4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Bf4,17.0